@import "properties"
@import "fonts"
@import "views"
//HEADER
@import "blocks/container/container"
@import "blocks/header/header"
@import "blocks/navbar/navbar"
@import "blocks/hero/hero"
//
@import "blocks/sub-title/sub-title"
@import "blocks/main-title/main-title"
@import "blocks/about/about"
@import "blocks/how-block/how-block"
@import "blocks/faq/faq"
@import "blocks/faq-item/faq-item"
@import "blocks/plus/plus"

*
    box-sizing: border-box

body
    padding: 0
    margin: 0
    background-color: #FEF8F5